<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Book title</ion-label>
      <ion-input [(ngModel)]="in_title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Author/s</ion-label>
      <ion-input [(ngModel)]="in_author"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Publisher</ion-label>
      <ion-input [(ngModel)]="in_pubs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-select [compareWith]="compareWith" [(ngModel)]="in_year">
        <ion-select-option *ngFor="let y of years" [value]="y">{{y}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select [compareWith]="compareWith" [(ngModel)]="in_cats">
        <ion-select-option *ngFor="let c of cats.data" [value]="c.id">{{c.namaKat}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sinopsis</ion-label>
      <ion-textarea [(ngModel)]="in_sin"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="save()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Save
        </ion-button>
        <ion-button color="warning" (click)="clear()">
          <ion-icon slot="start" name="refresh-circle-outline"></ion-icon>
          Clear
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>